:root{
    font-size: 16px;
}
body{
    margin: 0;
    padding: 0;
}
#app{
    display: grid;
    grid-template-columns: 250px 1fr;
    *{
        box-sizing: border-box;
    }
    >header{
        grid-column-start: 1;
        grid-column-end: 3;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid black;
        >div{
            display: flex;
            justify-content: center;
            align-items: center;
            >div{
                margin: 0 10px;
                button{
                    outline: none;
                    border: 1px solid burlywood;
                    padding: 5px 10px;
                    text-transform: capitalize;
                }
            }
        }
        .logo-box{
            img{
                height: 40px;
            }
        }
        .user-avater{
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img{
                height: 40px;
            width: 40px;
            border-radius: 100%;
            overflow: hidden;
            }
        }
    }

    .sidebar{
        // min-height: calc(100vh - 50px);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        ul{margin: 0; list-style-type: none;
            padding: 0 5px;
          li{
            line-height:2.5rem;
            border-bottom: 1px solid silver;
            &:last-child{
                border-bottom: none;
            }


            >ul{

            }
          }
        }
        ul{

        }

    }
    main{
background-color: gold;
min-height: calc(100vh - 50px);
    }
    footer{
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: rebeccapurple;
    }
}
